body {
color:black;
margin-left: auto;
margin-right: auto;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 120px;
  text-align: center;
}

.banniere {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
	height: auto;
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

ul.menu_horizontal li {
  display : inline;
  padding : 0 1.0em;
}

ul.menu_horizontal {
  list-style-type : none;
}

.menu_horizontal {
  text-align: center
}

.home {
  color:#555;
	font:25px 'Amatic SC';
  text-decoration: none;
	padding:6px 0 6px 0;
}

.home:hover {
  text-decoration: underline;
}

.histoire {
  color:#555;
	font:25px 'Amatic SC';
  text-decoration: none;
	padding:6px 0 6px 0;
}

.histoire:hover {
  text-decoration: underline;
}

.test {
	color:#555;
	font:25px 'Amatic SC';
  text-decoration: none;
	padding:6px 0 6px 0;
}

.test:hover {
  text-decoration: underline;
}

.divers {
  color:#555;
	font:25px 'Amatic SC';
  text-decoration: none;
	padding:6px 0 6px 0;
}

.divers:hover {
  text-decoration: underline;
}

.contact {
  color:#555;
	font:25px 'Amatic SC';
  text-decoration: none;
	padding:6px 0 6px 0;
}

.contact:hover {
  text-decoration: underline;
}
