html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

/* TITRE */
h1 {
  font-family: 'Fredericka the Great';
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* MENU */
nav ul {
  text-align: center;
}
nav a {
  list-style-type: none;
  color: #5D576B;
  font-family: 'Poiret One';
  text-decoration: none;
  margin: 10px;
}
a:hover {
    text-decoration: underline;
}
nav li {
  display: inline;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
  text-align: center;
  font-family: 'Poiret One';
}
